#footer-content {
  display: flex;
  justify-content: space-between;
  background: #FFDBDD;
  color: white;
  height: 150px;
  padding-left: 2em;
  padding-right: 2em;
}

#copyright {
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: #A6A6A6;
  padding: 1em;
}

#footer-content > p:nth-child(4) {
  margin-right: 2em;
  font-family: Poiret One;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}